@import "tailwindcss";

:root {
    --main-background: #0f1012;
    --navbar: #0C0F18;
    --text-color: #e6afc2;
    --hover-text-color: #e8ddec;
}

body {
    background-color: var(--main-background);
}

.bg {
    background-image: url('/hero/wallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}